beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
gTTS==2.5.1
idna==3.6
playsound==1.2.2
PyAudio @ file:///C:/Users/HP/Desktop/projects/virass/PyAudio-0.2.11-cp311-cp311-win_amd64.whl#sha256=5092b46bff5d6687db817bde4a71ffc50dd316cc2e490ee81908f0c95ef2644f
requests==2.31.0
soupsieve==2.5
SpeechRecognition==3.10.1
typing_extensions==4.10.0
urllib3==2.2.1
